.user-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  .user-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .user-table td, .user-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .user-table tr:nth-child(even){background-color: #f2f2f2;}
  
  .user-table tr:hover {background-color: #ddd;}
  
  .user-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  .user-data{
      margin-top: 30px;
  }